<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          RENKLER
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div
            *ngIf="dataLoaded == false"
            class="spinner-border text-primary"
            role="status"
          >
            <span class="visually-hidden">Yükleniyor...</span>
          </div>
  
          <ul *ngIf="dataLoaded == true" class="list-group">
            <li (click)="setCurrentColor(color)" 
            routerLink="/car/color/{{color.colorId}}"
            *ngFor="let color of colors" 
            [class]="getCurrentColorClass(color)">
              {{ color.colorName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h5 *ngIf="currentColor">{{currentColor.colorName}} seçtiniz.</h5>