<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Yükleniyor...</span>
</div>

<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ADI</th>
      <th scope="col">SOYADI</th>
      <th scope="col">ŞİRKET</th>
      <th scope="col">EMAİL</th>
      <th scope="col">MARKA</th>
      <th scope="col">RENK</th>
      <th scope="col">YIL</th>
      <th scope="col">AÇIKLAMA</th>
      <th scope="col">FİYAT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td scope="row">{{ rental.rentalId }}</td>
      <td scope="row">{{ rental.firstName }}</td>
      <td scope="row">{{ rental.lastName }}</td>
      <td scope="row">{{ rental.companyName }}</td>
      <td scope="row">{{ rental.email }}</td>
      <td scope="row">{{ rental.brandName }}</td>
      <td scope="row">{{ rental.colorName }}</td>
      <td scope="row">{{ rental.modelYear }}</td>
      <td scope="row">{{ rental.description }}</td>
      <td scope="row">{{ rental.dailyPrice }}</td>
    </tr>
  </tbody>
</table>